table {
    border-collapse: collapse ;
    border: 2px solid rgb(128, 126, 126);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th, 
td {
    border: 1px solid rgb(139, 136, 136);
    padding: 8px 12px;
    text-align: center;
}

thead tr, 
tfoot tr {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 700;
}