header, footer {
    max-width: 840px;
    margin: 0 auto;
}
main {
    max-width: 840px; 
    margin: 0 auto; 
    padding: 1rem; 
}
nav {
    background-color: #337ab7;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: #337ab7;
    border-bottom: 2px solid #337ab7;
    margin-bottom: 5px;
}

main img {
    width: 250px;
    height: auto;
    border: 1px solid #337ab7;
    padding: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

p {
    padding: 0;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center
}

aside img {
    width: 100px;
    height: auto;
    padding: 0;
}
a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
footer {
    margin-top: 1rem;
    border-top: 1px solid #337ab7;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
}